body {
  background-color: rgb(255, 208, 0);
}

.centerBlock {
  width: 70%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 15%;
}

.navButton {
  display: inline-block;
  background-color: brown;
  border-radius: 4px;
  width: 33%;
  height: 40px;
  position: relative;
  left: 2px;
  line-height: 40px;
  text-align: center;
}
